*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Plus Jakarta Sans Variable', sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
